/* 
2c333d
e1c799
a39d8c
8a5a3d
5a2a20
*/
body {
  background-color: #ffffff;
  font-family: arial;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#banner {
  background-color: #2c333d;
  height: 100px;
  padding: 0 15px;
}

#banner span.title {
  color: #a39d8c;
  position: relative;
  font-family: 'Cabin Sketch', 'Luckiest Guy', 'Cabin Sketch', arial, sans;
  font-weight: bold;
  top: 1em;
  font-size: 3.2em;
}

#content {
  background-color: #e1c799;
  background-image: url('../images/splat.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

#gallery, div.orbit-wrapper {
  width: 540px;
  height: 329px;
  margin: 0 auto;
}

.cap-title {
  font-size: 1.2em;
  font-family: 'Orbitron';
}

.cap-details {
  font-size: 1em;
  font-family: arial;
}

#footer {
  background-color: #e1c799;
  height: 40px;
  text-align: center;
  font-size: 0.8em;
}

#footer ul li {
  display:inline;
  list-style: none;
  margin: 0 30px;
}

#footer ul li a {
  text-decoration: none;
  color:black;
}

.orbit-bullets li.has-thumb {
    width: 100px !important;
    height: 61px !important; 
}

.orbit-bullets {
    width: 430px;
    position: static;
    margin: 15px auto;
}

/* captions */
.orbit-caption {

}