body {
  font-family: arial;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#banner {
  height: 150px;
  background-color: #bcabca;
  padding: 0 15px;
}

#banner span.title {
  position: relative;
  top: 3em;
  font-size: 2.2em;
}

#content {
  min-height: 600px;
  background-color: #aaaaaa;
}

#gallery, div.orbit-wrapper {
  width: 640px;
  height: 390px;
  margin: 0 auto;
}

#footer {
  height: 40px;
  background-color: #bbaabb;
}

.orbit-bullets li.has-thumb {
    width: 48px !important;
    height: 35px !important; 
}

/* captions */
.orbit-caption {

}