body {
  text-align: center;
  background-color: #9fa0a3;  
}

#wrapper {
  position: absolute;
  width: 100%;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 100;
}

#content {
  background-image: url("../images/grad4.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1024px;
  height: 900px;
  margin: 0 auto;
}

#cloud1 {
  position: absolute;
  left: 100px;
  top: 200px;
  width: 370px;
  height: 197px;  
}

#cloud2 {
  position: absolute;
  top: 20px;
  left: 700px;
  width: 500px;
  height: 200px;
}

#cloud3 {
  position: absolute;
  top: 350px;
  left: 800px;
  width: 410px;
  height: 272px;
}

.wrapper {
  position:relative;
  margin:0 auto;
  text-align:left;
  width:1024px;
}

#beeflinks {
  position: absolute;
  top:-350px;
  z-index: 5;
  width: 100%;
  margin: 0 auto;
  display: inline;
}

#beeflinks li {
  float: left;
  margin: 0 3.5%;
  width:180px;
  margin-right: 40px;
}

#beeflinks li:last-child {
  margin-right: 0;
}

.cloudlink {
  position: relative;
  top:70px;
  z-index: 2;
}

.cloudicon {
  position: relative;
  left: 30px;
  margin-left: -10px;
  top:-60px;
  z-index: 1;
/*  box-shadow: 10px 10px 5px #888;*/
}

#footer {
  width: 1024px;
  height: 40px;
  margin:0 auto;
  text-align: center;
}

#bird {
  position: absolute;
  background: transparent url("../images/canvas/bird_90x90.png") 0 0 no-repeat;  
  height: 62px;
  width: 90px;
  z-index: 1000;
}

#work-stuff img {
  margin-left: -135px;
}