body {
  text-align: center;
  background-color: #9fa0a3;  
}

#wrapper {
  position: absolute;
  width: 100%;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 100;
}

#content {
  background-image: url("../images/bg.jpg");
  background-position: 0 -4255px;
  background-repeat: no-repeat;
  width: 1024px;
  height: 900px;
  margin: 0 auto;
/*  border: 1px solid blue;*/
}

#cloud1 {
  position: absolute;
  left: 100px;
  top: 200px;
  width: 370px;
  height: 197px;  
}

#cloud2 {
  position: absolute;
  top: 20px;
  left: 700px;
  width: 500px;
  height: 200px;
}

#cloud3 {
  position: absolute;
  top: 350px;
  left: 800px;
  width: 410px;
  height: 272px;
}

.wrapper {
  position:relative;
  margin:0 auto;
  text-align:left;
  width:1024px;
}

#footer {
  width: 1024px;
  height: 40px;
  margin:0 auto;
  text-align: center;
}

#bird {
  position: absolute;
  background: transparent url("../images/canvas/bird_90x90.png") 0 0 no-repeat;  
  height: 62px;
  width: 90px;
  z-index: 1000;
}

.sprite {
  position: relative;
  margin-top: -360px;
  z-index: 1;
}

#facebook, #linkedin {
  margin-left: -10px;
  margin-top: -354px;
}

#music-stuff, #work-stuff {
  box-shadow: 2px 2px 5px #444;
  margin-left: -56px;
}

#flash {
  position: fixed;
  top: 0;
  display: none;
  width: 80%;
  font-size: 20em;
  font-family: "Amaranth", "arial";
  text-align: center;
  color: #000033;
}