body {
  text-align: center;
  background-color: #9fa0a3;
}

canvas {
  background-image: url("../images/grad4.png");
  background-color: #9fa0a3;  
}

#content {
  background-image: url("../images/grad4.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 1024px;
  height: 900px;
  margin: 0 auto;
}

#cloud1 {
  position: absolute;
  left: 100px;
  top: 200px;
  width: 370px;
  height: 197px;
}

#cloud2 {
  position: absolute;
  top: 50px;
  left: 700px;
  width: 500px;
  height: 200px;
}

.wrapper {
  position:relative;
  margin:0 auto;
  text-align:left;
  width:1024px;
}

#beeflinks {
  position: absolute;
  top:-250px;
  z-index: 1;
  width: 1024px;
  margin: 0 auto;
  display: inline;
}

#beeflinks li {
  float: left;
  margin: 0 30px;
}

.cloudlink {
  position: absolute;
  z-index: 2;
}

.cloudicon {
  position: absolute;
  z-index: 1;
}

#footer {
  width: 1024px;
  height: 40px;
  margin:0 auto;
  text-align: center;
}